# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
*.sqlite3
db.sqlite3

# Django
media/
static/
*.log

# Node.js
node_modules/
npm-debug.log*
package-lock.json

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
certbot/
*.save
